@font-face {
    font-family: "Medio";
    src:url("../font/medio.otf") format("opentype");
}

@font-face {
    font-family: "Trajan";
    src:url("../font/TrajanPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Ryumin";
    src:url("../font/A-OTF-RyuminPr5-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Matisse";
    src:url("../font/FOT-MatisseElegantoPro-M.otf") format("opentype");
}

@font-face {
    font-family: "Futura";
    src: url('../font/futura_medium_bt.ttf') format('truetype');
}

@media screen and (min-width: 501px) {
    #registration_sp {
        display: none;
    }
    
}

@media screen and (max-width: 500px) {
    #registration_pc {
        display: none;
    }
    
}


#registration_pc {
    overflow-x: hidden;
    overflow-y: hidden;
}

#registration_sp {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: ten-mincho, serif;
}

header {
    background: #FF6F00 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    display: flex;
    padding: 1.5vw 20vw;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 5000;
    height: 4.7vw;
}

.header_margin {
    height: 4.7vw;
}
.header_logo_img {
    display: block;
    position: relative;
    width: 8vw;
}
.header_logo {
    margin: auto;
    position: relative;
    margin-left: 0px;
}
.header_logo_sp {
}
.header_menu {
    width: 25vw;
    font: normal normal normal 0.8vw/1.6vw Kozuka Gothic Pr6N;
    display: flex;
    justify-content: space-between;
}
.header_a {
    display: block;
    color: #FFFFFF;

}

footer {
    color: #000;
    padding: 5vw 20vw;
    display: flex;
    justify-content: space-between;
    width:100%;
}


.footer_item1 {
    display: flex;
    justify-content: space-between;
    font: normal normal normal 0.8vw/1.4vw Kozuka Gothic Pr6N;
    color: #FF6F00;
    width: 20vw;
}
.footer_logo {
    width: 5vw;
    height: 5vw;
    display: block;
}
.footer_text1 {
    width: 13.5vw;
}
.footer_icon_list {
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    margin-top: 1.5vw;
}
.footer_icon {
    width: 2vw;
    display: block;
}
.footer_main_a {
    display: block;
    font: normal normal normal 1vw/1.4vw Kozuka Gothic Pr6N;
    color: #FF6F00;
    margin-bottom: 1vw;
}
.footer_sub_a {
    display: block;
    font: normal normal normal 0.8vw/1.8vw Kozuka Gothic Pr6N;
    color: #535353;
}

.copyright {
    display: flex;
    justify-content: space-between;
    background: #FF6F00 0% 0% no-repeat padding-box;
    font: normal normal normal 0.8vw/1.8vw Kozuka Gothic Pr6N;
    color: #FFFFFF;
    padding:1vw 15vw 1vw 67vw;
    width: 100%;
}

.copyright_a {
    color: #FFFFFF;
    width: 9.3vw;
    border-right: 1px solid #fff;
}



.top_bg1 {
    background-image: url(../img/top_bg1.png);
    width:100%;
    height:44vw;
    background-position: center;
    background-size: cover;
}

.top_title_en {
    margin-top: 5vw;
    text-align: center;
    font: normal normal bold 5vw/5.5vw Arial;
    color: #F0F0F0;
}

.top_title_ja {
    text-align: center;
    font: normal normal normal 1.5vw/2vw Kozuka Gothic Pr6N;
    color: #FF6F00;
    margin-top: 1vw;
    margin-bottom: 5vw;
}

.service1_orange_1 {
    left: 30vw;
}
.service1_orange_2 {
    left: 22vw;
}
.service1_hover_div {
    left: 22.5vw;
}

.service2_orange_1 {
    left: 45vw;
}
.service2_orange_2 {
    left: 37vw;
}
.service2_hover_div {
    left: 37.5vw;
}

.service3_orange_1 {
    left: 60vw;
}
.service3_orange_2 {
    left: 52vw;
}
.service3_hover_div {
    left: 52.5vw;
}

.service4_orange_1 {
    left: 75vw;
}
.service4_orange_2 {
    left: 67vw;
}
.service4_hover_div {
    left: 67.5vw;
}

.company1_orange_1, .recruit1_orange_1 {
    left: 31.5vw;
}
.company1_orange_2, .recruit1_orange_2 {
    left: 23.5vw;
}
.company1_hover_div, .recruit1_hover_div {
    left: 24vw;
}

.company2_orange_1, .recruit2_orange_1 {
    left: 52.5vw;
}
.company2_orange_2, .recruit2_orange_2 {
    left: 44.5vw;
}
.company2_hover_div, .recruit2_hover_div {
    left: 45vw;
}

.company3_orange_1, .recruit3_orange_1 {
    left: 73.5vw;
}
.company3_orange_2, .recruit3_orange_2 {
    left: 65.5vw;
}
.company3_hover_div, .recruit3_hover_div {
    left: 66vw;
}


.service1_orange_1, .service2_orange_1, .service3_orange_1, .service4_orange_1,
.company1_orange_1, .company2_orange_1, .company3_orange_1,
.recruit1_orange_1, .recruit2_orange_1, .recruit3_orange_1 {
    width: 3vw;
    height: 3vw;
    position: absolute;
    border-top: 2px solid #FF6F00;
    border-right: 2px solid #FF6F00;
    transition: 0.5s;
    z-index: 900;
}

.service1_orange_1, .service2_orange_1, .service3_orange_1, .service4_orange_1 {
    top: 68vw;
}

.company1_orange_1, .company2_orange_1, .company3_orange_1 {
    top: 130vw;
}

.recruit1_orange_1, .recruit2_orange_1, .recruit3_orange_1 {
    top: 191vw;
}

.service1_orange_2, .service2_orange_2, .service3_orange_2, .service4_orange_2,
.company1_orange_2, .company2_orange_2, .company3_orange_2,
.recruit1_orange_2, .recruit2_orange_2, .recruit3_orange_2 {
    width: 3vw;
    height: 3vw;
    position: absolute;
    border-left: 2px solid #FF6F00;
    border-bottom: 2px solid #FF6F00;
    transition: 0.5s;
    z-index: 900;
}

.service1_orange_2, .service2_orange_2, .service3_orange_2, .service4_orange_2 {
    top: 76vw;
}

.company1_orange_2, .company2_orange_2, .company3_orange_2 {
    top: 138vw;
}

.recruit1_orange_2, .recruit2_orange_2, .recruit3_orange_2 {
    top: 199vw;
}


.service1_hover_div, .service2_hover_div, .service3_hover_div, .service4_hover_div,
.company1_hover_div, .company2_hover_div, .company3_hover_div,
.recruit1_hover_div, .recruit2_hover_div, .recruit3_hover_div {
    width: 10vw;
    height: 10vw;
    position: absolute;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    z-index: 1000;
}

.service1_hover_div, .service2_hover_div, .service3_hover_div, .service4_hover_div {
    top: 68.5vw;
}

.company1_hover_div, .company2_hover_div, .company3_hover_div {
    top: 130.5vw;
}

.recruit1_hover_div, .recruit2_hover_div, .recruit3_hover_div {
    top: 191.5vw;
}


.service_icon1, .service_icon2, .service_icon3, .service_icon4,
.company_icon1, .company_icon2, .company_icon3,
.recruit_icon1, .recruit_icon2, .recruit_icon3 {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.service1_hover_div:hover ~ .service_orange1 {
    width: 11vw;
    height: 11vw;
    top: 68vw;
    left: 22vw;
}
.service2_hover_div:hover ~ .service_orange2 {
    width: 11vw;
    height: 11vw;
    top: 68vw;
    left: 37vw;
}
.service3_hover_div:hover ~ .service_orange3 {
    width: 11vw;
    height: 11vw;
    top: 68vw;
    left: 52vw;
}
.service4_hover_div:hover ~ .service_orange4 {
    width: 11vw;
    height: 11vw;
    top: 68vw;
    left: 67vw;
}

.company1_hover_div:hover ~ .company_orange1 {
    width: 11vw;
    height: 11vw;
    top: 130vw;
    left: 23.5vw;
}
.company2_hover_div:hover ~ .company_orange2 {
    width: 11vw;
    height: 11vw;
    top: 130vw;
    left: 44.5vw;
}
.company3_hover_div:hover ~ .company_orange3 {
    width: 11vw;
    height: 11vw;
    top: 130vw;
    left: 65.5vw;
}

.recruit1_hover_div:hover ~ .recruit_orange1 {
    width: 11vw;
    height: 11vw;
    top: 191vw;
    left: 23.5vw;
}
.recruit2_hover_div:hover ~ .recruit_orange2 {
    width: 11vw;
    height: 11vw;
    top: 191vw;
    left: 44.5vw;
}
.recruit3_hover_div:hover ~ .recruit_orange3 {
    width: 11vw;
    height: 11vw;
    top: 191vw;
    left: 65.5vw;
}

.service1_hover_div:hover .service_icon1,
.service2_hover_div:hover .service_icon2,
.service3_hover_div:hover .service_icon3,
.service4_hover_div:hover .service_icon4,
.company1_hover_div:hover .company_icon1,
.company2_hover_div:hover .company_icon2,
.company3_hover_div:hover .company_icon3,
.recruit1_hover_div:hover .recruit_icon1,
.recruit2_hover_div:hover .recruit_icon2,
.recruit3_hover_div:hover .recruit_icon3 {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.top_service_div {
    width: 100vw;
    height: 20vw;
    display: flex;
    padding: 13vw 20vw 0;
    justify-content: space-between;
    font: normal normal normal 1vw/2vw Kozuka Gothic Pr6N;
    color: #FF6F00;
}

.top_service_title {
    width: 15vw;
    text-align: center;
}

.top_bar {
    width: 100vw;
}

.top_company_div, .top_recruit_div {
    width: 100vw;
    height: 20vw;
    display: flex;
    padding: 13vw 21.5vw 0;
    justify-content: space-between;
    font: normal normal normal 1vw/2vw Kozuka Gothic Pr6N;
    color: #FF6F00;
}

.top_company_title, .top_recruit_title {
    width: 15vw;
    text-align: center;
}


.news_flex {
    display: flex;
    width: 100vw;
    padding:0 20vw;
    justify-content: space-between;
    margin-bottom: 5vw;
    font: normal normal bold 0.8vw/1.3vw Arial;
    color: #3E3E3E;
}

.news_page_flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2.5vw;
    font: normal normal bold 0.8vw/1.3vw Arial;
    color: #3E3E3E;
}

.news_item {
    width: 15vw;
}

.news_img {
    width: 100%;
    display: block;
    margin-bottom: 1vw;
}

.news_title {
    font: normal normal normal 1vw/1.3vw Kozuka Gothic Pr6N;
    color: #FF6F00;
    margin-bottom: 1vw;
}

.news_main_div {
    padding-left: 2.5vw;
    color: #3E3E3E;
}

.news_page_content {
    font: normal normal normal 0.8vw/1.4vw Kozuka Gothic Pr6N;
    margin-top: 1vw;
    color: #535353;
}

.news_page_img {
    width: 15vw;
}

.news_more_btn {
    width: 12vw;
    margin:0 auto 3vw;
    display: block;
}

.news_detail_date {
    font: normal normal bold 0.8vw/1.5vw Arial;
    color: #FFFFFF;
    background: #FF6F00 0% 0% no-repeat padding-box;
    width: 10vw;
    text-align: center;
    padding:1vw 0;
}

.news_detail_title {
    font: normal normal bold 1.5vw/2.5vw Kozuka Gothic Pr6N;
    color: #535353;
    margin:0.5vw 0 2vw;
}

.news_detail_img {
    width: 30vw;
    display: block;
}
.news_detail_text {
    width: 27vw;
    font: normal normal normal 0.8vw/1.5vw Kozuka Gothic Pr6N;
    color: #535353;
}

.news_detail_flex {
    display: flex;
    width: 100%;
    padding: 5vw 20vw;
    justify-content: space-between;
    margin-bottom: 2.5vw;
    font: normal normal bold 0.8vw/1.3vw Arial;
    color: #3E3E3E;
}

.back_btn {
    width: 5vw;
    display: block;
}

.top_contact_bg {
    background-image: url(../img/top_contact_bg.png);
    width:100%;
    height:33vw;
    background-position: center;
    background-size: cover;
    padding-top: 9vw;
    text-align: center;
}

.top_title_contact {
    font: normal normal bold 5vw/5.5vw Arial;
    color: #F0F0F0;
    margin-bottom: 1.5vw;
}

.top_contact_text {
    font: normal normal normal 0.8vw/1.6vw Kozuka Gothic Pr6N;
    color: #FFFFFF;
    margin-bottom: 1.5vw;
}

.top_contact_btn {
    width: 12vw;
    margin:0 auto;
    display: block;
}

.service_bar {
    width: 100vw;
}

.service_list_div {
    background: #F0F0F0 0% 0% no-repeat padding-box;
    padding: 5vw;
    width: 100vw;
}

.service_content_div, .company_content_div {
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: space-between;
    font: normal normal normal 1vw/2vw Kozuka Gothic Pr6N;
    color: #FF6F00;
    background:#fff;
}

.service_content_div {
    padding: 20vw 15vw 0;
}

.company_content_div {
    padding: 20vw 16.5vw 0;
}

.service_list1_orange_1 {
    left: 30vw;
}
.service_list1_orange_2 {
    left: 22vw;
}
.service_list1_hover_div {
    left: 22.5vw;
}

.service_list2_orange_1 {
    left: 45vw;
}
.service_list2_orange_2 {
    left: 37vw;
}
.service_list2_hover_div {
    left: 37.5vw;
}

.service_list3_orange_1 {
    left: 60vw;
}
.service_list3_orange_2 {
    left: 52vw;
}
.service_list3_hover_div {
    left: 52.5vw;
}

.service_list4_orange_1 {
    left: 75vw;
}
.service_list4_orange_2 {
    left: 67vw;
}
.service_list4_hover_div {
    left: 67.5vw;
}

.company_list1_orange_1 {
    left: 31.5vw;
}
.company_list1_orange_2 {
    left: 23.5vw;
}
.company_list1_hover_div {
    left: 24vw;
}

.company_list2_orange_1 {
    left: 52.5vw;
}
.company_list2_orange_2 {
    left: 44.5vw;
}
.company_list2_hover_div {
    left: 45vw;
}

.company_list3_orange_1 {
    left: 73.5vw;
}
.company_list3_orange_2 {
    left: 65.5vw;
}
.company_list3_hover_div {
    left: 66vw;
}

.service_list1_orange_1, .service_list2_orange_1, .service_list3_orange_1, .service_list4_orange_1,
.company_list1_orange_1, .company_list2_orange_1, .company_list3_orange_1 {
    width: 3vw;
    height: 3vw;
    position: absolute;
    border-top: 2px solid #FF6F00;
    border-right: 2px solid #FF6F00;
    transition: 0.5s;
    z-index: 900;
    top: 37vw;
}

.service_list1_orange_2, .service_list2_orange_2, .service_list3_orange_2, .service_list4_orange_2,
.company_list1_orange_2, .company_list2_orange_2, .company_list3_orange_2 {
    width: 3vw;
    height: 3vw;
    position: absolute;
    border-left: 2px solid #FF6F00;
    border-bottom: 2px solid #FF6F00;
    transition: 0.5s;
    z-index: 900;
    top: 45vw;
}

.service_list1_hover_div, .service_list2_hover_div, .service_list3_hover_div, .service_list4_hover_div,
.company_list1_hover_div, .company_list2_hover_div, .company_list3_hover_div {
    width: 10vw;
    height: 10vw;
    position: absolute;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    z-index: 1000;
    top: 37.5vw;
}

.service_list1_hover_div:hover ~ .service_list_orange1 {
    width: 11vw;
    height: 11vw;
    top: 37vw;
    left: 22vw;
}
.service_list2_hover_div:hover ~ .service_list_orange2 {
    width: 11vw;
    height: 11vw;
    top: 37vw;
    left: 37vw;
}
.service_list3_hover_div:hover ~ .service_list_orange3 {
    width: 11vw;
    height: 11vw;
    top: 37vw;
    left: 52vw;
}
.service_list4_hover_div:hover ~ .service_list_orange4 {
    width: 11vw;
    height: 11vw;
    top: 37vw;
    left: 67vw;
}

.company_list1_hover_div:hover ~ .company_list_orange1 {
    width: 11vw;
    height: 11vw;
    top: 37vw;
    left: 23.5vw;
}
.company_list2_hover_div:hover ~ .company_list_orange2 {
    width: 11vw;
    height: 11vw;
    top: 37vw;
    left: 44.5vw;
}
.company_list3_hover_div:hover ~ .company_list_orange3 {
    width: 11vw;
    height: 11vw;
    top: 37vw;
    left: 65.5vw;
}


.service_list1_hover_div:hover .service_icon1,
.service_list2_hover_div:hover .service_icon2,
.service_list3_hover_div:hover .service_icon3,
.service_list4_hover_div:hover .service_icon4,
.company_list1_hover_div:hover .company_icon1,
.company_list2_hover_div:hover .company_icon2,
.company_list3_hover_div:hover .company_icon3 {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}


.service_item_div {
    width: 100%;
    background:#fff;
    padding:8vw 15vw;
}

.service_main_img {
    width: 40vw;
    display: block;
}

.service_title_orange_en {
    font: normal normal bold 3vw/3.5vw Arial;
    color: #FF6F00;
    text-shadow: 1px 1px 1px #fff;
}
.service_title_orange_ja {
    font: normal normal normal 1vw/2vw Kozuka Gothic Pr6N;
    color: #FF6F00;
    text-shadow: 1px 1px 1px #fff;
}
.service_text {
    font: normal normal normal 0.8vw/1.5vw Kozuka Gothic Pr6N;
    color: #ddd;
    margin-top: 1vw;
    mix-blend-mode: difference;
}

.service1_text_box {
    position: relative;
    left: 27vw;
    top: -14vw;
}

.service_center_title {
    text-align: center;
    margin-top: -5vw;
}

.service_flex {
    width: 100%;
    display: flex;
    margin: 3vw 0;
}

.service_flex_item {
    display: block;
    width: 50%;
}

.service_flex_num {
    margin-top: 2vw;
    font: normal normal bold 1.5vw/1.8vw Arial;
    color: #535353;
}
.service_flex_en {
    margin-top: 2vw;
    font: normal normal bold 3vw/3.5vw Arial;
    color: #535353;
    margin-top: 0.5vw;
}
.service_flex_ja {
    font: normal normal normal 1.2vw/2.4vw Kozuka Gothic Pr6N;
    color: #535353;
}
.service_flex_text {
    font: normal normal normal 0.8vw/1.6vw Kozuka Gothic Pr6N;
    color: #535353;
    margin-top: 1.5vw;
}
.service_flex_pl {
    padding-left: 2vw;
}

.service_client_title {
    text-align: center;
    margin-top: 10vw;
}

.service_client_text {
    font: normal normal normal 0.8vw/1.6vw Kozuka Gothic Pr6N;
    color: #535353;
    margin-top: 2vw;
}

.henson_logo {
    width: 10vw;
    margin-top: 2vw;
    display: block;
}

.company_flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.company_column {
    width: 50%;
    display: flex;
    margin:1vw 0;
}

.company_column_name {
    width: 7vw;
    font: normal normal normal 1vw/1.5vw Kozuka Gothic Pr6N;
    color: #FF6F00;
}

.company_column_content {
    font: normal normal normal 1vw/1.5vw Kozuka Gothic Pr6N;
    color: #535353;
}

.company2_title {
    text-align: center;
    font: normal normal bold 2.5vw/5vw Kozuka Gothic Pr6N;
    color: #FF6F00;
    width: 65vw;
    margin-left: -2.5vw;
    border-bottom: 4px solid;
    margin-bottom: 4vw;
}

.company2_flex_text {
    width: 40vw;
    font: normal normal normal 0.8vw/1.6vw Kozuka Gothic Pr6N;
    letter-spacing: 0px;
    color: #535353;
}
.company2_flex_content {
    width: 20vw;
    background: #F0F0F0 0% 0% no-repeat padding-box;
}
.company2_img {
    width: 100%;
    display: block;
}
.company2_flex_text2 {
    padding:1vw 1.5vw 4vw 1.5vw;
    font: normal normal normal 0.8vw/1.6vw Kozuka Gothic Pr6N;
    color: #535353;
}
.company2_ceo {
    font: normal normal normal 0.8vw/1.6vw Kozuka Gothic Pr6N;
    color: #535353;
}
.company_ceo_name {
    font: normal normal bold 1.5vw/3vw Kozuka Gothic Pr6N;
    color: #FF6F00;
    margin-bottom: 1.5vw;
}
.company_ceo_name span {
    font: normal normal normal 0.8vw/1.6vw Kozuka Gothic Pr6N;
    color: #888888;
}

.underline_title {
    text-align: center;
    font: normal normal bold 2.5vw/5vw Kozuka Gothic Pr6N;
    color: #FF6F00;
    border-bottom: 0.2vw solid;
    display: block;
    margin: 0 auto;
}

.company3_1 {
    display: block;
    margin: 4vw auto 5vw;
    width: 100%;
}

.company3_title2 {
    text-align: center;
    font: normal normal bold 1.5vw/3vw Kozuka Gothic Pr6N;
    color: #FF6F00;
    margin:5vw 0 3vw;
}

.company_flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2vw 0;
}
.company_flex_box {
    width: 48%;
    border: 0.2vw solid #FF6F00;
    display: flex;
    justify-content: space-between;

}
.company_flex_padding {
    padding: 0 3vw;
}

.company3_2 {
    width: 40%;
    display: block;
}
.company_flex_text {
    padding:2.3vw 1.5vw;
    font: normal normal normal 0.8vw/1.6vw Kozuka Gothic Pr6N;
    color: #535353;
    width: 60%;
}

.company3_3_box {
    width: 12vw;
    font: normal normal normal 0.8vw/1.6vw Kozuka Gothic Pr6N;
    color: #535353;
}
.company3_3 {
    width: 100%;
    display: block;
}
.company3_3_title {
    text-align: center;
    font: normal normal normal 1vw/2vw Kozuka Gothic Pr6N;
    color: #FF6F00;
    margin: 1vw 0;
}

.recruit1_box {
    width: 30%;
    display: block;
}
.recruit_box_orange {
    width: 100%;
    height: 12vw;
    background: #FF6F00;
}
.recruit_box_text {
    padding:1vw 1.5vw 2vw;
    font: normal normal normal 0.8vw/1.6vw Kozuka Gothic Pr6N;
    color: #535353;
    width: 100%;
    background: #F0F0F0 0% 0% no-repeat padding-box;
}
.recruit_box_title {
    margin-bottom: 0.5vw;
    text-align: center;
    font: normal normal normal 1vw/2vw Kozuka Gothic Pr6N;
    color: #FF6F00;
}

.office_dummy {
    width: 100%;
    display: block;
    margin-top: 3vw;
}

.recruit2_graph {
    width: 100%;
    display: block;
    margin: 5vw 0;
}

.recruit3_title {
    font: normal normal bold 1.5vw/3vw Kozuka Gothic Pr6N;
    color: #FF6F00;
    margin-top: 3vw;
    margin-bottom: 1vw;
}

.recruit3_1_hover_div,
.recruit3_2_hover_div,
.recruit3_3_hover_div,
.contact1_hover_div,
.contact2_hover_div,
.contact3_hover_div,
.contact4_hover_div {
    display: flex;
    justify-content: space-between;
    padding:0.8vw 1.5vw;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    font: normal normal normal 1vw/2vw Kozuka Gothic Pr6N;
    color: #FF6F00;
    margin: 1vw 0;
}

.orange_yazi {
    width: 1.2vw;
    height: 0.4vw;
    display: block;
    position: relative;
    top: 0.7vw;
    transition: 0.5s;
    left: 0;
}

.recruit3_1_hover_div:hover div,
.recruit3_2_hover_div:hover div,
.recruit3_3_hover_div:hover div,
.contact1_hover_div:hover div,
.contact2_hover_div:hover div,
.contact3_hover_div:hover div,
.contact4_hover_div:hover div {
    color: #FF6F00;
    text-decoration: underline #FF6F00;
}

.recruit3_1_hover_div:hover .orange_yazi,
.recruit3_2_hover_div:hover .orange_yazi,
.recruit3_3_hover_div:hover .orange_yazi,
.contact1_hover_div:hover .orange_yazi,
.contact2_hover_div:hover .orange_yazi,
.contact3_hover_div:hover .orange_yazi,
.contact4_hover_div:hover .orange_yazi {
    left: 1.1vw;
}

.recruit_big_title {
    font: normal normal bold 2.5vw/5vw Kozuka Gothic Pr6N;
    color: #FF6F00;
}

.recruit_flex {
    display: flex;
    width: 100%;
    margin: 2.5vw 0;
    font: normal normal normal 1vw/1.5vw Kozuka Gothic Pr6N;
    color: #535353;
}
.recruit_flex_title {
    font: normal normal bold 1vw/1.5vw Kozuka Gothic Pr6N;
    color: #FF6F00;
    width: 9vw;
}

.require_mark {
    font: normal normal normal 0.5vw/0.5vw Hiragino Kaku Gothic Pro;
    color: #ff6a4b;
}
.contact_name {
    font: normal normal normal 1vw/2vw Kozuka Gothic Pr6N;
    color: #000000;
}
.contact_text, .contact_textarea {
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    background: #FFFCF9 0% 0% no-repeat padding-box;
    border: 1px solid #FFD3B1;
    border-radius: 5px;
    padding:0.5vw 1vw;
    font: normal normal normal 0.8vw/1.6vw Kozuka Gothic Pr6N;
    width: 100%;
}
.contact_textarea {
    height: 8vw;
}
.contact_text::placeholder, .contact_textarea::placeholder {
    color: #FFD3B1;
}
.send_btn {
    background: #FF6F00 0% 0% no-repeat padding-box;
    display: block;
    margin: auto;
    width: 15vw;
    text-align: center;
    font: normal normal normal 1vw/2vw Kozuka Gothic Pr6N;
    color: #FFFFFF;
    padding: 0.6vw 0;
    margin-top: 5vw;
}

.contact_detail {
    background: #F0F0F0 0% 0% no-repeat padding-box;
    width: 100%;
    text-align: center;
    font: normal normal normal 1vw/1.5vw Kozuka Gothic Pr6N;
    color: #000000;
    padding:2vw 0;
    margin-bottom: 5vw;
}
.contact_detail span {
    font: normal normal normal 1.5vw/1.5vw Kozuka Gothic Pr6N;
    color: #FF6F00;
}

.contact_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font: normal normal normal 1vw/2.2vw Kozuka Gothic Pr6N;
    color: #000000;
}
.contact_flex_item {
    width: 50%;
    margin: 1vw 0;
}
.radio_btn, .checkbox {
    margin-right: 0.5vw;
    transform: scale(1.2);
}
.contact_column {
    font: normal normal normal 0.8vw/1vw Kozuka Gothic Pr6N;
}

.policy_text {
    font: normal normal normal 1vw/2vw Kozuka Gothic Pr6N;
    color: #000000;
}
.policy_title {
    font: normal normal bold 1.5vw/3vw Kozuka Gothic Pr6N;
    color: #000000;
    margin-top: 2.5vw;
    margin-bottom: 1vw;
}

@media screen and (max-width: 500px) {
    header {
        background-position: center;
        background-size: cover;
        height: 60px;
        padding: 14px 20px;
    }
    .header_menu {
        display: inline;
    }
    .header_margin {
        height: 60px;
    }
    .logo_header {
        height: 32px;
        display: block;
    }
    .header_icon_list {
        display: flex;
        justify-content: space-between;
        width: 45vw;
        margin-left: 18vw;
        padding-top: 20px;
    }
    .header_icon {
        width: 10vw;
        display: block;
    }

    .top_bg1 {
        background-image: url(../img/top_bg1_sp.png);
        width: 100%;
        height: 135vw;
        background-position: center;
        background-size: cover;
        text-align: center;
        font: normal normal normal 11px/20px Ten Mincho;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-shadow: 1px 1px 2px #000000;
        padding-top: 50px;
    }
    .top_title_en {
        margin-top: 60px;
        text-align: center;
        font: normal normal bold 50px/58px Arial;
        color: #F0F0F0;
    }
    .top_title_ja {
        text-align: center;
        font: normal normal bold 23px/47px Kozuka Gothic Pr6N;
        color: #FF6F00;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .service1_hover_div, .service2_hover_div, .service3_hover_div, .service4_hover_div, .company1_hover_div, .company2_hover_div, .company3_hover_div, .recruit1_hover_div, .recruit2_hover_div, .recruit3_hover_div {
        width: 300px;
        height: 170px;
        display: block;
        position: absolute;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        transition: 0.5s;
        z-index: 1000;
        margin: auto;
        left: calc((100vw - 300px) / 2);
    }
    
    .service1_orange_1, .service2_orange_1, .service3_orange_1, .service4_orange_1, .company1_orange_1, .company2_orange_1, .company3_orange_1, .recruit1_orange_1, .recruit2_orange_1, .recruit3_orange_1 {
        width: 50px;
        height: 50px;
        position: absolute;
        border-top: 2px solid #FF6F00;
        border-right: 2px solid #FF6F00;
        transition: 0.5s;
        z-index: 900;
        left: calc(100vw - (100vw - 240px) / 2);
    }

    .service1_orange_2, .service2_orange_2, .service3_orange_2, .service4_orange_2, .company1_orange_2, .company2_orange_2, .company3_orange_2, .recruit1_orange_2, .recruit2_orange_2, .recruit3_orange_2 {
        width: 50px;
        height: 50px;
        position: absolute;
        border-left: 2px solid #FF6F00;
        border-bottom: 2px solid #FF6F00;
        transition: 0.5s;
        z-index: 900;
        left: calc((100vw - 340px) / 2);
    }

    .service1_hover_div {
        top: calc(135vw + 300px);
    }
    .service1_orange_1 {
        top: calc(135vw + 280px);
    }
    .service1_orange_2 {
        top: calc(135vw + 440px);
    }
    .service1_hover_div:hover ~ .service_orange1 {
        width: 340px;
        height: 210px;
        top: calc(135vw + 280px);
        left: calc((100vw - 340px) / 2);
    }

    .service2_hover_div {
        top: calc(135vw + 600px);
    }
    .service2_orange_1 {
        top: calc(135vw + 580px);
    }
    .service2_orange_2 {
        top: calc(135vw + 740px);
    }
    .service2_hover_div:hover ~ .service_orange2 {
        width: 340px;
        height: 210px;
        top: calc(135vw + 580px);
        left: calc((100vw - 340px) / 2);
    }

    .service3_hover_div {
        top: calc(135vw + 900px);
    }
    .service3_orange_1 {
        top: calc(135vw + 880px);
    }
    .service3_orange_2 {
        top: calc(135vw + 1040px);
    }
    .service3_hover_div:hover ~ .service_orange3 {
        width: 340px;
        height: 210px;
        top: calc(135vw + 880px);
        left: calc((100vw - 340px) / 2);
    }

    .service4_hover_div {
        top: calc(135vw + 1200px);
    }
    .service4_orange_1 {
        top: calc(135vw + 1180px);
    }
    .service4_orange_2 {
        top: calc(135vw + 1340px);
    }
    .service4_hover_div:hover ~ .service_orange4 {
        width: 340px;
        height: 210px;
        top: calc(135vw + 1180px);
        left: calc((100vw - 340px) / 2);
    }

    .top_service_title {
        text-align: center;
        font: normal normal normal 20px/30px Kozuka Gothic Pr6N;
        color: #FF6F00;
        padding-top: 230px;
        margin-bottom: 40px;
        width: 100vw;
    }
    
    footer {
        display: block;
        color: #FF6F00;
        padding: 50px 20px;
        width: 100%;
        height: 600px;
    }
    .footer_title {
        font: normal normal normal 20px/35px Ten Mincho;
        letter-spacing: 0px;
        color: #000;
        margin-bottom: 10px;
        text-align: center;
    }
    .footer_title2 {
        font: normal normal normal 16px/35px Ten Mincho;
        letter-spacing: 0px;
        color: #000;
        margin: 0 auto 10px;
        width: 250px;
    }
    .footer_item1 {
        display: flex;
        justify-content: space-between;
        font: normal normal normal 0.8vw/1.4vw Kozuka Gothic Pr6N;
        color: #FF6F00;
        width: 100%;
        margin-bottom: 50px;
    }
    .footer_text1 {
        font: normal normal normal 16px/25px Kozuka Gothic Pr6N;
        letter-spacing: 0px;
        color: #FF6F00;
        margin: 0 auto 20px;
        width: 210px;
    }
    .footer_logo {
        width: 100px;
        height: 100px;
        margin: 0;
        display: block;
    }

    .sp1_hover_div,
    .sp2_hover_div,
    .sp3_hover_div {
        display: flex;
        justify-content: space-between;
        padding:10px 20px 10px 0;
        background: #fff;
        font: normal normal normal 16px/30px Kozuka Gothic Pr6N;
        color: #FF6F00;
        border-bottom: 1px solid #F0F0F0;
    }
    
    .orange_yazi {
        width: 20px;
        height: 8px;
        display: block;
        position: relative;
        top: 10px;
        transition: 0.5s;
        left: 0;
    }
    
    .sp1_hover_div:hover div,
    .sp2_hover_div:hover div,
    .sp3_hover_div:hover div {
        color: #FF6F00;
        text-decoration: underline #FF6F00;
    }
    
    .sp1_hover_div:hover .orange_yazi,
    .sp2_hover_div:hover .orange_yazi,
    .sp3_hover_div:hover .orange_yazi {
        left: 20px;
    }
    
    



    .copyright {
        display: flex;
        justify-content: space-between;
        background: #FF6F00 0% 0% no-repeat padding-box;
        font: normal normal normal 12px/25px Kozuka Gothic Pr6N;
        color: #FFFFFF;
        padding: 10px 60px 50px;
        width: 100%;
    }
    .copyright_a {
        color: #FFFFFF;
        width: 140px;
        border-right: 1px solid #fff;
    }
}

/*以下ハンバーガーメニューについて*/

.menu-btn {
    position: absolute;
    top: 0;
    right: 2%;
    display: flex;
    position: fixed;
    height: 60px;
    justify-content: center;
    align-items: center;
    z-index: 6000;
    background: none;
    border: none;
    width: 60px;
    background: #FF6F00;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
}
.menu-btn span {
    width: 30px;
}
.menu-btn span:before {
    bottom: 8px;
    width: 30px;
}
.menu-btn span:after {
    top: 8px;
    width: 30px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    width: 30px;
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}


.menu-content, .menu-content_work{
    top: 0px;
    width: 100%;
    position: fixed;
    height: 1000px;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #FF6F00;
    transition: all 0.5s;/*アニメーション設定*/
    padding-top: 60px;
}

.menu-content ul, .menu-content_work ul {
    padding: 25px 20px 0 30px;
    height: 400px;
    width: 80%;
}
.menu-content ul li, .menu-content_work ul li {
    list-style: none;
    border-bottom: 1px solid #fff;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}

.menu-content_work ul li:first-child {
    border-top: 1px solid #fff;
}

.menu_head_sp, .menu_content_sp {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#fff;
    text-decoration: none;
    position: relative;
    font: normal normal 600 16px/20px sans-serif;
}
.menu_content {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#fff;
    text-decoration: none;
    position: relative;
    font: normal normal normal 17px/30px Kozuka Gothic Pr6N;
}

#menu-btn-check:checked ~ .menu-content {
    left: 0px;/*メニューを画面内へ*/
}
#menu-btn-check:checked ~ .menu-content_work {
    left: 20%;/*メニューを画面内へ*/
}

#menu_service_sp, #menu_company_sp, #menu_recruit_sp {
    display: none;
    height: 0px;
    padding:0;
    opacity: 0;
    transition: 0.5s;
}

.beside, .vertical {
    content: '';
    display: block;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    transition: 0.2s;
}
.beside {
    width: 30px;
    top: 15px;
}
.vertical {
    width: 30px;
    top: 13px;
    transform: rotate(90deg);
}

.menu_a_sp {
    font: normal normal normal 14px/30px Kozuka Gothic Pr6N;
    color: #FFFFFF;
    display: block;
    border-bottom: 1px solid #fff;
    padding: 10px;
}




.g-recaptcha {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.grecaptcha-badge { visibility: hidden; }